@import "mixins.scss";
@import "variables.scss";

.goods__title {
  font-size: 36px;
  line-height: 1.67;
}

.goods__list {
  @include ul-style-none();
}

.show-block__title {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
}

.show-block__text {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 1.33;
  color: #444444;
}

.show-block__button {
  font-size: 16px;
  line-height: 1.25;
  color: #444444;
  background-color: #f2f2f2;
}
