.advantages__title {
  font-size: 36px;
  line-height: 1.67;
}

.advantages__list {
  @include ul-style-none();
}

.advantages__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.29;
  color: #444444;
}

.advantages__item::before {
  display: block;
  content: "";
  width: 60px;
  height: 60px;
  background-color: $icon-and-button-bg;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 85%;
}

.advantages__item--health::before {
  background-image: url("../img/advantage-leaf@1x.png");
}

.advantages__item--powder::before {
  background-image: url("../img/advantage-powder@1x.png");
}

.advantages__item--saving::before {
  background-image: url("../img/advantage-dining@1x.png");
}

.advantages__item--time::before {
  background-image: url("../img/advantage-clock@1x.png");
}
