.diets {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.diets__header {
  display: flex;
  flex-direction: column;
}

.diets__item {
  position: relative;
  margin-bottom: 20px;
  background-color: #f2f2f2;
}

.diets__text-area {
  width: 320px;
  min-height: 305px;
  color: rgb(255, 255, 255);
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: $icon-and-button-bg;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: 320px 100%;
  }
}

.diets__button {
  padding-top: 12px;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 18px;
}

.diets__title {
  padding-top: 30px;
  padding-left: 92px;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.54;
}

.diets__description {
  width: 240px;
  padding-top: 6px;
  padding-bottom: 23px;
  margin-left: 20px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  border-bottom: 1px solid #d9d9d9;
}

.diets__link {
  display: flex;
  padding-top: 4px;
  padding-left: 20px;
  padding-bottom: 23px;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #111111;
}

.diets__link::after {
  content: "";
  align-self: center;
  display: block;
  width: 25px;
  height: 12px;
  margin-left: 10px;
  background-image: url("../img/icon-right-arrow-long.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.diets__link:hover::after {
  width: 34px;
  background-image: url("../img/icon-right-arrow-verylong.svg");
}

.diets__link:active {
  opacity: 0.3;
}

.diets__title::before {
  position: absolute;
  top: 24px;
  left: 22px;
  display: block;
  content: "";
  width: 50px;
  height: 51px;
  background-color: $icon-and-button-bg;
  border-radius: 50%;
}

.diets__title::after {
  position: absolute;
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.diets--sitting-cat::after {
  top: 22px;
  left: 30px;
  width: 35px;
  height: 49px;
  background-image: url("../img/icon-cat-slim.svg");
}

.diets--walking-cat::after {
  top: 35px;
  left: 13px;
  width: 67px;
  height: 28px;
  background-image: url("../img/icon-cat-pro.svg");
}

@media (max-width: 767px) {
  .diets {
    padding: 0;
  }

  .diets__item {
    margin: 0 20px;
    margin-bottom: 20px;
  }

  .diets__item:last-child {
    margin-bottom: 0;
  }

  .diets__header {
    min-height: 480px;
    margin-bottom: 23px;
  }

  .diets__button {
    margin: 0 20px;
    margin-top: auto;
  }
}

@media (min-width: $tablet-width) {
  .diets {
    width: $tablet-width;
  }

  .diets__header {
    min-height: 820px;
    margin-bottom: 17px;
  }

  .diets__text-area {
    width: 490px;
    min-height: auto;
    margin-left: 88px;
    margin-bottom: 29px;
    text-align: left;
    color: rgb(17, 17, 17);
    background-image: none;
    background-color: transparent;
  }

  .diets__button {
    width: 245px;
    padding-top: 16px;
    padding-bottom: 15px;
    margin-left: 88px;
    font-size: 20px;
    line-height: 20px;
  }

  .diets__title {
    padding-top: 78px;
    padding-left: 53px;
    margin-bottom: 18px;
    font-size: 36px;
    line-height: 37px;
  }

  .diets__title::before {
    top: 92px;
    left: auto;
    right: 62px;
    width: 200px;
    height: 200px;
  }

  .diets--sitting-cat::after {
    top: 80px;
    left: auto;
    right: 92px;
    width: 141px;
    height: 194px;
  }

  .diets--walking-cat::after {
    top: 135px;
    left: auto;
    right: 28px;
    width: 268px;
    height: 113px;
  }

  .diets__description {
    width: 380px;
    margin-left: 53px;
    margin-bottom: 29px;
    font-size: 16px;
    line-height: 24px;
    border: none;
  }

  .diets__item:last-child .diets__description {
    width: 340px;
  }

  .diets__link {
    width: 50%;
    padding-left: 52px;
    font-size: 20px;
    line-height: 20px;
  }

  .diets__link::after {
    margin-left: 24px;
  }

  .diets__item {
    min-height: 372px;
    margin-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .diets {
    position: relative;
    width: auto;
    padding: 0;
    margin-bottom: 43px;
  }

  .diets__wrapper {
    margin-bottom: 80px;
    background: linear-gradient(to right, rgb(255, 255, 255) 50%, #64a83b 50%);
  }

  .diets__header {
    position: relative;
    width: $desktop-width;
    min-height: 696px;
    padding: 0 40px;
    padding-top: 194px;
    margin: 0 auto;
  }

  .diets__container {
    display: flex;
    justify-content: space-between;
    width: $desktop-width;
    padding: 0 40px;
    margin: 0 auto;
  }

  .diets__text-area {
    margin-left: 80px;
    margin-bottom: 34px;
  }

  .diets__button {
    margin-left: 80px;
  }

  .diets::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 696px;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-position: right 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #64a83b;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
      background-size: 720px 100%;
    }
  }

  .diets__header::after {
    position: absolute;
    top: 142px;
    right: 328px;
    width: 552px;
    height: 499px;
    background-image: url("../img/index-can-desktop@1x.png");
  }

  .diets__item {
    flex-basis: 570px;
  }

  .diets__title {
    padding-top: 77px;
    padding-left: 214px;
    margin-bottom: 67px;
  }

  .diets__description {
    width: 470px;
    margin-bottom: 4px;
  }

  .diets__item:last-child .diets__description {
    width: 460px;
  }

  .diets__title::before {
    top: 47px;
    left: 52px;
    right: auto;
    width: 100px;
    height: 100px;
  }

  .diets--sitting-cat::after {
    top: 41px;
    left: 65px;
    right: auto;
    width: 71px;
    height: 97px;
  }

  .diets--walking-cat::after {
    top: 69px;
    left: 34px;
    right: auto;
    width: 134px;
    height: 57px;
  }
}
