.main-footer {
  padding-top: 40px;
  margin-top: -3px;
  width: auto;
  background-color: #f2f2f2;
}

.main-footer__container {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 767px) {
  .main-footer__logo {
    padding-bottom: 28px;
    margin-bottom: 24px;
    text-align: center;
    border-bottom: 1px solid #d9d9d9;
  }
}

.main-footer__inner-container {
  display: flex;
  justify-content: space-between;
}

.main-footer__copyright {
  padding-top: 9px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #444444;
}

.main-footer__academy-logo {
  width: 27px;
  height: 34px;
  background-image: url("../../img/htmlacademy-svg.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

@media (min-width: $tablet-width) {
  .main-footer {
    padding-top: 56px;
    padding-bottom: 5px;
  }

  .main-footer__container {
    flex-direction: row;
    align-items: center;
    width: $tablet-width;
    padding: 0 30px;
  }

  .main-footer__logo {
    padding-top: 8px;
  }

  .main-footer__inner-container {
    margin-left: auto;
  }

  .main-footer__copyright {
    margin-right: 22px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__container {
    width: $desktop-width;
    padding: 0 110px;
  }
}
