.main-footer {
  width: auto;
  padding-top: 40px;
  margin-top: -3px;
  padding-bottom: 20px;
  background-color: #f2f2f2;
}

.main-footer__container {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-footer__logo:hover,
.main-footer__logo:focus {
  opacity: 0.8;
}

.main-footer__logo:active {
  opacity: 0.3;
}

.main-footer__copyright {
  position: relative;
  padding-top: 9px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
  color: #444444;
}

.main-footer__academy-logo {
  position: absolute;
  right: 0;
  top: 0;
  width: 27px;
  height: 34px;
}

.main-footer__copyright:active {
  opacity: 0.3;
}

.main-footer__copyright:hover svg,
.main-footer__copyright:focus svg {
  fill: #68b738;
}

@media (max-width: 767px) {
  .main-footer__logo {
    padding-bottom: 28px;
    margin-bottom: 24px;
    text-align: center;
    border-bottom: 1px solid #d9d9d9;
  }
}

@media (min-width: $tablet-width) {
  .main-footer {
    padding-top: 56px;
    padding-bottom: 5px;
  }

  .main-footer__container {
    flex-direction: row;
    align-items: center;
    width: $tablet-width;
    padding: 0 30px;
  }

  .main-footer__logo {
    padding-top: 8px;
  }

  .main-footer__copyright {
    width: 163px;
    margin-left: auto;
    padding: 0;
  }

  .main-footer__academy-logo {
    right: 0;
    top: -7px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    min-height: 150px;
  }

  .main-footer__container {
    width: $desktop-width;
    padding: 0 40px;
  }
}
