.main-navigation__list {
  @include ul-style-none();
}

.main-navigation__link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
}

@media (max-width: 767px) {
  .main-navigation--closed .main-navigation__item {
    display: none;
  }

  .main-navigation--no-js .main-navigation__item {
    display: block;
  }

  .main-navigation--no-js .main-navigation__toggle {
    display: none;
  }

  .main-navigation__item:first-child .main-navigation__link {
    border-top: 1px solid #e6e6e6;
  }

  .main-navigation__link {
    padding-top: 23px;
    padding-bottom: 22px;
    border-bottom: 1px solid #e6e6e6;
  }

  .main-navigation__toggle {
    position: absolute;
    top: 23px;
    right: 6%;
    width: 25px;
    height: 19px;
    background-image: url("../img/icon-close.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: transparent;
    border: none;
  }

  .main-navigation--closed .main-navigation__toggle {
    background-image: url("../img/icon-mobile-menu.svg");
  }
}


@media (min-width: $tablet-width) {
  .main-navigation__toggle {
    display: none;
  }

  .main-navigation__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 33px;
    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
    color: rgb(34, 34, 34);
  }

  .main-navigation__item {
    margin-left: 36px;
  }

  .main-navigation__link {
    padding-top: 9px;
    padding-bottom: 8px;
  }

  .main-navigation__link:hover {
    opacity: 0.6;
  }

  .main-navigation__link:active {
    opacity: 0.3;
  }

  .main-navigation__item--active:hover a {
    cursor: default;
  }

  .main-navigation__link--active {
    border-bottom: 2px solid $icon-and-button-bg;
  }
}

@media (min-width: $desktop-width) {
  .main-navigation__list {
    margin-top: 64px;
    font-size: 20px;
  }

  .main-navigation__item {
    margin-left: 34px;
  }

  .main-navigation__link {
    color: rgb(255, 255, 255);
  }

  .main-navigation__link--active {
    border-color: rgb(255, 255, 255);
  }
}
