.slider {
  position: relative;
  width: 320px;
}

.slider__item--before {
  position: absolute;
  background-color: #f2f2f2;
  overflow: hidden;
}

.slider__image {
  max-width: 320px;
  height: 240px;
}

.slider__pagination {
  display: flex;
  margin-top: 22px;
  margin-left: 4px;
  padding-bottom: 28px;
  justify-content: center;
  align-items: center;
}

.slider__pagination-button {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  background: transparent;
  border: none;
}

.slider__pagination-button:hover {
  cursor: pointer;
  border-bottom: 1px solid #989898;
}

.slider__pagination-button:active {
  border: none;
}

@media (min-width: $tablet-width) {
  .slider {
    position: relative;
    width: $tablet-width;
    height: 632px;
  }

  .slider__item {
    width: 50%;
    height: 100%;
  }

  .slider__image {
    width: 690px;
    max-width: 690px;
    height: 511px;
    box-sizing: content-box;
    margin-left: 46px;
  }

  .slider__item--before {
    position: absolute;
    background: linear-gradient(to top, #f2f2f2 73.2%, white 73.2%);
    overflow: hidden;
  }

  .slider__item--after {
    background: linear-gradient(to top, #eaeaea 73.2%, white 73.2%);
  }

  .slider__pagination {
    position: absolute;
    bottom: 40px;
    left: 88px;
    z-index: 2;
  }

  .slider__pagination-button {
    padding-bottom: 6px;
    margin-top: 6px;
    font-size: 20px;
    line-height: 20px;
    border-bottom: 1px dotted #bebebe;
  }

  .slider__pagination-label {
    padding-bottom: 5px;
    font-size: 20px;
    line-height: 20px;
    border-bottom: 1px dotted #bebebe;
  }

  .slider__pagination-button--before {
    margin-right: 7px;
  }

  .slider__pagination-button--after {
    margin-left: 2px;
  }
}

@media (min-width: $desktop-width) {
  .slider {
    position: relative;
    width: 649px;
    height: 650px;
  }

  .slider__item {
    width: 50%;
    height: 100%;
  }

  .slider__image {
    box-sizing: content-box;
    width: 690px;
    max-width: 690px;
    height: 511px;
    margin: 0;
  }

  .slider__item--before {
    background: linear-gradient(to top, #f2f2f2 462px, white 462px);
    overflow: hidden;
  }

  .slider__item--before .slider__image {
    margin-left: -40px;
  }

  .slider__item--after {
    background: linear-gradient(to top, #eaeaea 462px, white 462px);
  }

  .slider__item--after .slider__image {
    margin-left: -41px;
  }

  .slider__pagination {
    left: 29px;
    bottom: 38px;
  }

  .slider__pagination-button:hover {
    cursor: pointer;
    border-bottom: 1px solid #989898;
  }

  .slider__pagination-button:active {
    border-color: transparent;
  }
}
