@import "mixins.scss";
@import "variables.scss";

.social-list {
  @include ul-style-none();
}

.social-list__item {
  a {
    display: block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.social-list__item--vkontakte {
  a {
    width: 22px;
    height: 12px;
    background-image: url("../img/icon-vk.svg");
  }
}

.social-list__item--instagram {
  a {
    width: 17px;
    height: 17px;
    background-image: url("../img/icon-insta.svg");
  }
}

.social-list__item--facebook {
  a {
    width: 10px;
    height: 19px;
    background-image: url("../img/icon-fb.svg");
  }
}
