@import "mixins.scss";

.advantages__title {
  font-size: 36px;
  line-height: 1.67;
}

.advantages__list {
  @include ul-style-none();
}

.advantages__description {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.29;
  color: #444444;
}

.advantage__icon {
  width: 60px;
  height: 60px;
  background-color: $leaf;
}

.advantage__icon::before {
  display: block;
  content: "";
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.advantages__icon--health::before {
  width: 26px;
  height: 29px;
  background-image: url("../../../img/advantage-leaf@1x.png");
}

.advantages__icon--powder::before {
  width: 29px;
  height: 31px;
  background-image: url("../../../img/advantage-powder@1x.png");
}

.advantages__icon--saving::before {
  width: 23px;
  height: 30px;
  background-image: url("../../../img/advantage-dining@1x.png");
}

.advantages__icon--time::before {
  width: 26px;
  height: 31px;
  background-image: url("../../../img/advantage-clock@1x.png");
}
