@import "variables.scss";

.diets__text-area {
  width: 320px;
  min-height: 305px;
  color: $white;
  background-image: url("../../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: $leaf;
}

.diets__button {
  font-size: 14px;
  line-height: 1.29;
}
